header{
  font-size: 1em;
}

/* navigation section */

header nav{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding: 10px 15px;
}

header nav .nav-right{
   display: flex;
   align-items: center;
   font-size: 1em;
}

header nav .nav-right a{
  color: #444;
  padding:5px 10px;
  margin: 0px 5px;
  font-size: 1.1em;
}


header nav .nav-left .register-login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #666;
    padding: 5px 8px;
    border-radius: 5px;
  }
  
  header nav .nav-left .register-login-btn a{
      color: #444;
      margin: 0px 10px;
      font-size: .9em;
  }
  
  header nav .nav-left .register-login-btn i{
       color: #444;
       margin: 7px;
       font-size: 1.1em;
  }


  /* slider section */
 
  .slider{
     font-size: 1em;
     position: relative;
  }

  .slider .slides{
    
  }

  .slider .slides .item{
     position: relative;
     display: none;
  }
  
  .slider .slides .item img{
      width: 100%;
  }

  .slider .slides .item span{
     position: absolute;
     right: 10%;
     top: 40%;
     font-size: 1.5em;
     color: #222;
  }

  .slider .slides .active{
     display: block;
     animation-name: bounceInLeft;
     animation-duration: 1s;
  }

  .slider .buttons{
    color: white;
     position: absolute;
     bottom: 30px;
     left: 40px;
     z-index: 1;
     
  }

  .slider .buttons i{
   margin-right: 5px;
   cursor: pointer;
  }

  .slider .buttons i:hover{
    color: rgba(255, 255, 255, .4); 
  }